#move{
    margin-top: 50px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.5s linear;
    line-height: 150px;
    text-align: center;
    background-color: red;
    color: #fff;
    
}

#move.active{
    transform: translateX(100px);
    
}